<?php if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>
<a class="awesome" href="{site_url}admin/server_control/main/{server_id}">« {lang_back}</a>

<form action="{site_url}rcon_changer/change/{server_id}" method="post" accept-charset="utf-8">
	<input type="hidden" name="{csrf_token_name}" value="{csrf_hash}" />
	
	<table width="100%" class="zebra">
		
			<tr>
				<td>{lang_rcon_changer_new_password}:&nbsp;<input name="rcon_password" type="text" /></td>
			</tr>
			
			<tr>
				<td><label>{lang_rcon_changer_server_restart}:&nbsp;<input name="restart_server" type="checkbox" checked="checked" /></label></td>
			</tr>

	</table>

	<p align="center"><input class="button" type="submit" name="submit" value="{lang_rcon_changer_change}" /></p>
</form>

